*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none; /* Уберает подчеркивание под ссылкой */
    color: inherit; /* Цвет наследуется от родительского класса */
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.container{
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Блок header */
.header{
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header__top{
    padding: 48px 40px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__list{
    color: #FFFFFF;
    display: flex;
}
.menu__item + .menu__item{
    margin-left: 40px;
}
.header__box{
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 275px;
}
.header__box-img{
    margin-bottom: 24px;
}
.header__box-title{
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 24px;
}
.header__box-text{
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 48px;
    max-width: 763px;
    margin: 0 auto;
}
.header__box-link{
    border: 1px solid #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 41px;
}

/* Блок product */
.product{
    background-image: url('../images/product-bg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 144px 0;
}
.product__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__items{
    max-width: 352px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.product__item{
    display: flex;
    align-items: center;
}
.product__item-box{
    text-align: right;
    margin-right: 16px;
}
.product__title{
    font-weight: 400;
}
.product__text{
    font-size: 12px;
}
.product__item-box--1{
    order: 1;
    margin-left: 16px;
}

/* Блок fresh */
.fresh {
    background-image: url('../images/fresh-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fresh__inner {
    padding: 96px 0;
    text-align: center;
    color: #FFFFFF;
    max-width: 525px;
    margin: 0 auto;
}
.fresh__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
    position: relative;
}
.fresh__title::after{
    position: absolute;
    content: '';
    width: 189px;
    height: 1px;
    background-color: #FFFFFF;
    top: 65px;
    left: 170px;
}
.fresh__text {
    margin-bottom: 48px;
}
.fresh__link {
    padding: 16px 41px;
    border: 1px solid #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

/* Блок price */
.price {
    padding: 100px 0;
}
.price__title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    padding-bottom: 48px;
    position: relative;
}
.price__title::before{
    content: '';
    position: absolute;
    width: 189px;
    border: 1px solid #444444;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
}
.price__text {
    text-align: center;
    max-width: 475px;
    margin: 0 auto 48px;

}
.price__tabs {
position: relative;
/* margin: 3rem 0;
background: #1abc9c;
height: 14.75rem; */
}
.price__tabs::before,
.price__tabs::after {
content: "";
display: table;
}
.price__tabs::after {
clear: both;
}
.price__tab {
float: left;
}
.price__tab-switch {
display: none;
}
.price__tab-label {
/* margin: 0 auto; */
/* text-align: center; */
text-transform: uppercase;
position: relative;
display: block;
line-height: 2.75em;
height: 3em;
padding: 0 1.618em;
background: #fff;
border-right: 0.125rem solid #fff;
color: #000;
cursor: pointer;
top: 0;
/* left: 50%; */
transition: all 0.25s;
}
/* .price__tab-label:hover {
top: -0.25rem;
transition: top 0.25s;
} */
.price__tab-content {
/* height: 12rem; */
position: absolute;
z-index: 1;
top: 2.75em;
left: 0;
padding: 1.618rem;
background: #fff;
color: #000000;
/* border-bottom: 0.25rem solid #bdc3c7; */
opacity: 0;
transition: all 0.35s;
}
.price__tab-switch:checked + .price__tab-label {
text-decoration: underline;
background: #fff;
color: #000000;
border-bottom: 0;
border-right: 0.125rem solid #fff;
transition: all 0.35s;
z-index: 1;
/* top: -0.0625rem; */
}
.price__tab-switch:checked + label + .price__tab-content {
z-index: 2;
opacity: 1;
transition: all 0.35s;
}


.price__tab-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 30px;
}
.price__tab-item{
    display: flex;
    /* justify-content: space-between; */
    /* gap: 0 24px; */
}
.price__tab-box{
    margin-left: 24px;
}
.price__tab-descr{
    display: flex;
    justify-content: space-between;
}
.price__tab-title{
    font-weight: 400;
    text-transform: uppercase;
}
.price__tab-text{
    font-size: 12px;
}